<div id="mainPane" class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
            <%= image_tag("tortuga.png", size: "100x100", class: "card-img-top") %>
                <div class="card-body">
                    <h5 class="card-title">Configurar header</h5>
                    <p class="card-text">El header es lo que aparece en la parte superior de tu página, en esta seccion puedes configurarlo.</p>
                    <a href="#" class="btn btn-primary">Entendido!</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
            <%= image_tag("roca.png", size: "100x100", class: "card-img-top") %>
                <div class="card-body">
                    <h5 class="card-title">Configurar página principal</h5>
                    <p class="card-text">La página principal es lo primero que la gente verá al entrar.</p>
                    <a href="#" class="btn btn-primary">Entendido!</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
            <%= image_tag("jajaja.png", size: "100x100", class: "card-img-top") %>
                <div class="card-body">
                    <h5 class="card-title">Configurar menús</h5>
                    <p class="card-text">Para hacer que tu página sea interactiva prueba a añadir algunas opciones.</p>
                    <a href="#" class="btn btn-primary">Entendido!</a>
                </div>
            </div>
        </div>
    </div>
</div>